// Start prevention section styles

.prevention__title {
  font-size: 2rem;
  font-weight: 900;
}
.prevention__title::before {
  content: url("../images/virus-icon-black.svg");
  vertical-align: -8px;
}
@media (max-width: 768px) {
  .prevention__title {
    font-size: 1.6rem;
  }
}
.prevention__image--title {
  font-size: 1.2rem;
  font-weight: bold;
}

// Start prevention section styles

// Start animations

// Start sneezing

#sneezing-icon-circle1 {
  animation: circle-animation 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#sneezing-icon-circle2 {
  animation: circle-animation 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

// End sneezing

// Start shake hand

#shake-hand-icon-circle1 {
  animation: circle-animation 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#shake-hand-icon-circle2 {
  animation: circle-animation 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

// End shake hand

// Start mask

#mask-icon-circle1 {
  animation: circle-animation 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#mask-icon-circle2 {
  animation: circle-animation 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

// End mask

// Start washing hand

#washing-hand-icon-circle1 {
  animation: circle-animation 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#washing-hand-icon-circle2 {
  animation: circle-animation 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

// End washing hand

// End animations
